@import '../../basic.scss';

@font-face {
  font-family: "Exo 2";
  src: url(../../font/Exo2.0-Thin.otf);
  font-style: normal;
  font-weight: 100;
}

.shop-page {
  @include flex-col();
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: auto;
}

.title {
  @include flex-row();
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.title__text {
  font: 1.2em "Exo 2", Helvetica, sans-serif;
  color: #FFFFFF;
}

.cards {
  @include flex-col();
  justify-content: center;
}

.cards li {
  margin-bottom: 30px;
}
