@import '../../basic.scss';

@font-face {
  font-family: "Roboto";
  src: url(../../font/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

.pet-food-card {
  @include flex-col();
  position: relative;
  height: 100%;
  width: 260px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 3px;

    width: 180px;
    height: 180px;

    background-image: url(../../img/background-cat.png);
    background-repeat: no-repeat;
    background-position-x: -10px;
    background-size: 140%;
    border-bottom-left-radius: 8px;
  }
}

.pet-food-card__header {
  @include flex-row();
  align-items: center;
  min-height: 32px;
}

.header {}

.header__angle {
  position: relative;
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  background-image: linear-gradient(to bottom right, transparent 46%, #1698d9 46% 54%, #FFFFFF 54%);
  background-repeat: no-repeat;
}

.header__text {
  @include flex-row();
  align-items: center;
  min-height: 100%;
  flex: 1 0 auto;
  font-size: 0.7em;
  color: #666666;
  background-color: #FFFFFF;
  border-top-right-radius: 10px;
  border-top: 3px solid #1698d9;
  border-right: 3px solid #1698d9;
}

.pet-food-card__main {
  @include flex-col();
  flex: 1 0 auto;
  position: relative;
  padding-left: 32px;

  background-color: #FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 3px solid #1698d9;
  border-bottom: 3px solid #1698d9;
  border-right: 3px solid #1698d9;
}

.pet-food-card__name {
  @include flex-row();
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: 5px;
}

.pet-food-card__stuffing {
  @include flex-row();
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.pet-food-card__portions {
  font-weight: 500;
  font-size: 0.8em;
  color: #666666;
}

.pet-food-card__present {
  font-weight: 500;
  font-size: 0.7em;
  color: #666666;
}

.pet-food-card__container-volume {
  @include flex-col();
  justify-content: center;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 10px;
  right: 20px;

  border-radius: 50%;
  background-color: #1698d9;
  z-index: 1;
}

.pet-food-card__volume {
  @include flex-row();
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 2.3em;
}

.pet-food-card__unit {
  @include flex-row();
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 2em;
}

@media screen and (min-width: 1100px) {
  .pet-food-card {
    width: 320px;

    &::after {
      bottom: 4px;
      left: 4px;
      width: 240px;
      height: 240px;
    }
  }

  .header__angle {
    width: 40px;
    height: 40px;
  }

  .header__text {
    border-width: 4px;
  }

  .pet-food-card__main {
    padding-left: 40px;
    border-width: 4px;
  }

  .pet-food-card__name {
    font-size: 2.6em;
  }

  .pet-food-card__stuffing {
    font-size: 1.3em;
    margin-bottom: 15px;
  }

  .pet-food-card__portions {
    font-size: 0.9em;
  }

  .pet-food-card__present {
    font-size: 0.8em;
  }

  .header__text {
    height: 40px;
    font-size: 0.8em;
  }

  .pet-food-card__container-volume {
    width: 90px;
    height: 90px;
    bottom: 10px;
    right: 20px;
  }

  .pet-food-card__volume {
    font-size: 2.4em;
  }

  .pet-food-card__unit {
    font-size: 2em;
  }
}
