@import '../../basic.scss';

@font-face {
  font-family: "Roboto";
  src: url(../../font/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url(../../font/Roboto-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url(../../font/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

.feed-selection-button {
  height: 100%;
  margin-bottom: 10px;
}

.feed-selection-button_disable {
  cursor: not-allowed;

  .pet-food-card::after {
    opacity: 0.5;
  }

  .header__angle {
    background-image: linear-gradient(to bottom right, transparent 46%, #B3B3B3 46% 54%, #FFFFFF 54%);
  }

  .header__text {
    color: #B3B3B3;
    border-color: #B3B3B3;
  }

  .header__text_default {
    border-top: 3px solid #B3B3B3;
    border-right: 3px solid #B3B3B3;
  }

  .header__text_selected-hover {
    display: none;
  }

  .pet-food-card__main {
    border-color: #B3B3B3;
  }

  .pet-food-card__name {
    color: #B3B3B3;
  }

  .pet-food-card__stuffing {
    color: #B3B3B3;
  }

  .pet-food-card__portions {
    color: #B3B3B3;
  }

  .pet-food-card__present {
    color: #B3B3B3;
  }

  .pet-food-card__container-volume {
    background-color: #B3B3B3;
  }
}

.feed-selection-button_default {
  .header__text_default {
    color: #666666;
    border-top: 3px solid #1698D9;
    border-right: 3px solid #1698D9;
  }

  .header__text_selected-hover {
    display: none;
  }

  &:hover {
    .header__angle {
      background-image: linear-gradient(to bottom right, transparent 46%, #2EA8E6 46% 54%, #FFFFFF 54%);
    }

    .header__text_default {
      border-color: #2EA8E6;
    }

    .pet-food-card__main {
      border-color: #2EA8E6;
    }

    .pet-food-card__container-volume {
      background-color: #2EA8E6;
    }
  }
}

.feed-selection-button_selected {
  .header__angle {
    background-image: linear-gradient(to bottom right, transparent 46%, #D91667 46% 54%, #FFFFFF 54%);
  }

  .header__text_default {
    border-top: 3px solid #D91667;
    border-right: 3px solid #D91667;
  }

  .header__text_selected-hover {
    display: none;
    border-top: 3px solid #D91667;
    border-right: 3px solid #D91667;
  }

  .pet-food-card__main {
    border-color: #D91667;
  }

  .pet-food-card__container-volume {
    background-color: #D91667;
  }

  &:hover {
    .header__angle {
      background-image: linear-gradient(to bottom right, transparent 46%, #E52E7A 46% 54%, #FFFFFF 54%);
    }

    .header__text_default {
      display: none;
    }

    .header__text_selected-hover {
      @include flex-row();
      color: #E52E7A;
      border-color: #E52E7A;
    }

    .pet-food-card__main {
      border-color: #E52E7A;
    }

    .pet-food-card__container-volume {
      background-color: #E52E7A;
    }
  }
}

.pet-food-card {
  @include flex-col();
  position: relative;
  height: 100%;
  width: 260px;
  border-radius: 10px;
  margin-bottom: 10px;

  &:after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 3px;

    width: 180px;
    height: 180px;

    background-image: url(../../img/background-cat.png);
    background-repeat: no-repeat;
    background-position-x: -10px;
    background-size: 140%;
    border-bottom-left-radius: 8px;
  }
}

.pet-food-card__header {
  @include flex-row();
  align-items: center;
  min-height: 32px;
}

.header {}

.header__angle {
  position: relative;
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  background-image: linear-gradient(to bottom right, transparent 46%, #1698D9 46% 54%, #FFFFFF 54%);
  background-repeat: no-repeat;
}

.header__text {
  @include flex-row();
  align-items: center;
  flex: 1 0 auto;
  min-height: 100%;
  font-size: 0.7em;
  background-color: #FFFFFF;
  border-top-right-radius: 10px;
}

.pet-food-card__main {
  @include flex-col();
  flex: 1 0 auto;
  position: relative;
  padding-left: 32px;

  background-color: #FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 3px solid #1698D9;
  border-bottom: 3px solid #1698D9;
  border-right: 3px solid #1698D9;
}

.pet-food-card__name {
  @include flex-row();
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: 5px;
}

.pet-food-card__stuffing {
  @include flex-row();
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.pet-food-card__portions {
  @include flex-row();
  font-weight: 400;
  font-size: 0.8em;
  color: #666666;
  margin-bottom: 2px;
}

.pet-food-card__present {
  @include flex-row();
  font-weight: 400;
  font-size: 0.7em;
  color: #666666;
}

.pet-food-card__container-volume {
  @include flex-col();
  justify-content: center;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 10px;
  right: 20px;

  border-radius: 50%;
  background-color: #1698D9;
  z-index: 1;
}

.pet-food-card__volume {
  @include flex-row();
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 2.3em;
}

.pet-food-card__unit {
  @include flex-row();
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 2em;
}

@media screen and (min-width: 1100px) {
  .feed-selection-button_disable {
    .header__text_default {
      border-width: 4px;
    }
  }

  .feed-selection-button_default {
    .header__text_default {
      border-width: 4px;
    }
  }

  .feed-selection-button_selected {
    .header__text_default {
      border-width: 4px;
    }

    &:hover {
      .header__text_selected-hover {
        border-width: 4px;
      }
    }
  }

  .pet-food-card {
    width: 320px;

    &::after {
      bottom: 4px;
      left: 4px;
      width: 240px;
      height: 240px;
    }
  }

  .header__angle {
    width: 40px;
    height: 40px;
  }

  .header__text_default {
    border-width: 4px;
  }

  .header__text_selected-hover {
    border-width: 4px;
  }

  .pet-food-card__main {
    padding-left: 40px;
    border-width: 4px;
  }

  .pet-food-card__name {
    font-size: 2.6em;
  }

  .pet-food-card__stuffing {
    font-size: 1.3em;
    margin-bottom: 15px;
  }

  .pet-food-card__portions {
    font-size: 0.9em;
  }

  .pet-food-card__present {
    font-size: 0.8em;
  }

  .header__text {
    height: 40px;
    font-size: 0.8em;
  }

  .pet-food-card__container-volume {
    width: 90px;
    height: 90px;
    bottom: 10px;
    right: 20px;
  }

  .pet-food-card__volume {
    font-size: 2.4em;
  }

  .pet-food-card__unit {
    font-size: 2em;
  }
}
